@media only screen and (max-width: 1240px){

    body{
        overflow-x: hidden;
        overflow-y: auto;
    }

    html{
        font-size: 75%;
        height: 80%;
    }

    .hero-content{
        width: 30vw;
        height: 30%;
        top: 20%;
    }

    .hero-bg{
        width: 100vw;
        background-attachment:unset;
        background-size: cover;
    }
    .navbar{
        height: 400px;
        flex-direction: column;
    }
    
    .navbar ul{
        flex-direction: column;
        background-color: rgba(15, 29, 27, 0.624);
        padding: 10px;
        margin: 40px 0px;
        transition: all 0.5s ease-out;
        border-radius: 20px;
        position: absolute;
        left: 0%;
    }

    .navbar ul li{
        margin: 7px;
    }

    .welcome{
        width: 50vw;
        height: fit-content;
        padding: 30px;
        background-color: rgba(111, 120, 120, 0.611);
        border-radius: 30px;
        box-shadow: 1px 1px 10px 10px rgb(86, 83, 83);
    }

    .logo img{
        margin: 0px;
    }
    .burger{
        display: block;
    }

    .nav-hero nav{
        background-color: inherit;
    }
    
    .v-class-resp{
        opacity: 0;
    }

    .logo-div{
        position: fixed;
        /* margin: auto; */
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-content{
        flex-direction: column;
        margin: 0px;
        padding: 10px;
    }

    .about-para{
        width: 100%;
        padding: 20px 0px;
        margin: 0px;
    }

    .about-right-images{
        width: 100%;
        margin: 0px;
        padding: 0px;
        
    }

    .about-right-images img{
        width: 100%;
        margin: 10px 0px;
        padding: 0px;
    }

    .about-left-content{
        width: 100%;
    }

    .projects{
        flex-direction: column;
        align-items: center;
    }

    .projects-left-images img{
        width: 100%;
        margin: 0px;
    }

    .projects-right-content{
        margin: 0px;
        padding: 10px;
        width: 100%;
    }


    .contact-section{
        flex-direction: column-reverse;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }

    .logo-footer{
        display: none;
    }

    .departments{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .department-content{
        width: 100%;
        margin: 0px;
        padding: 10px;
    }


    .department-content-resp{
        width: 100%;
        margin: 0px;
        padding: 10px;
    }

    .club-head{
        flex-direction: column;
    }

    .head-container {
        margin: 20px 0px;
        width: 100%;
        padding: 0px;
    }

    .sec-left{
        margin: 0px;
        width: 100%;
        align-items: center;   
    }

    .contact-left-sec{
        width: 100%;  
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 30px;
    }

    .address{
        padding:0px;
        width: 100%;
        margin: 10px;
    }

    .link-logos{
        height: 40px;
        width: 40px;
        background-color: white;
        margin-bottom: 20px ;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
    
    .club-head-sec{
        flex-direction: column;
    }

    form{
        width: 100%;
        margin: 10px 0px;
        padding: 10px 0px;
    }
    
    .contact{
        align-items: center;
    }


    .contact-main form{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


  @media only screen and (max-width: 650px){

    .welcome p{
        display: none;
    }

    .welcome{
        height: 20vh;
    }
  }

  @media only screen and (max-width: 800px){

    .logo p{
        display: none;
    }

    .logo-div{
        border-radius: 50%;
        
    }
  }

