@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 80%;
    font-size:80%;
}

.hero-bg{
    height: 100vh;
    width: 100vw;
    background-image: url(../Image/hero_img.webp);
    background-size: cover;
    position: absolute;
    background-attachment: fixed;
    background-position: center;
}

.nav-hero{
    height: 100vh;
}

.nav-hero nav{
    height: 80px;
    width: fit-content;
    background-color: rgba(52, 52, 55, 0.635);
    display: flex;
    align-items: center;
    position: fixed;   
    border-bottom-right-radius: 10% 70%; 
    z-index: 1;
    padding-right: 50px;
}

.nav-hero nav ul{
    display: flex;
    list-style: none;
    margin-left: 6%;
}

.nav-hero nav ul li{
    padding: 0px 20px;
    font-size: 1.3rem;
    color: white;
    letter-spacing: 1px;
}

.nav-hero nav ul li:hover{
    transition: 0.3s ease;
    scale: 1.05;
}

.nav-hero nav ul li a{
    text-decoration: inherit;
    color: white;
}

.nav-hero nav ul li a:hover{
    cursor: pointer;
    color: rgba(27, 216, 150, 0.609);
    text-decoration: underline;
}

.nav-hero nav ul li a:focus{
    color: rgb(0, 0, 0);
}

.logo{
    display: flex;
    align-items: center;
}

.logo-div{
    position: fixed;
    right: 20px;
    /* top: 5px; */
    background-color: #3b3b3693;
    padding: 8px;
    border-radius: 10px 30px 10px 30px;
    box-shadow: 2px 2px 4px 0px;
    transition: 0.8s ease;

}

.logo p{
    /* padding: 0px 10px; */
    font-size: 1.8rem;
    font-family: 'Itim', cursive;
    font-weight: bold;
    letter-spacing: 3px;
    color: rgb(238, 154, 64);
}

.logo p:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 1s ease;
}

.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.logo img:hover{
    cursor: pointer;
    scale: 1.05;
    transition: 1s ease;
}

.hero-content{
    position: relative;
    top: 30%;
    left: 0;
    width: fit-content;
    height: fit-content;
}

.welcome{
    width: 50%;
    height: fit-content;
    /* display: flex; */
    padding: 30px;
    background-color: rgba(111, 120, 120, 0.611);
    border-radius: 30px;
    box-shadow: 1px 1px 10px 10px rgb(86, 83, 83);
    position: relative;
    left: 40px;
}

.role{
    color: rgb(178, 214, 212);
    font-size: 2rem;
    transition: 0.5s ease;
}

.welcome p{
    font-size: 1.4rem;
    color: white;
    margin: 20px 0px;
}

.main{
    width: 100vw;
}

.about-us{
    width: 100%;
    height: fit-content;
    background-color: rgba(218, 227, 234, 0.645);
}

.about-main-bg{
    width: 100%;
    height: 400px;
    background-image: url(../Image/about/about-parallex-img.jpg);
    background-size: contain;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.titles{
    font-size: 32px;
    color: white;
    text-align: center;
    font-weight: 400;
    padding: 20px;
    text-decoration: underline;
    background-image: url(../Image/about/title-bg.jpeg);
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about-para{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 0px;
}

.about-para p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 50%;
    font-size: 1.4rem;
}

.about-content{
    width: 100%;
    height: fit-content;
    padding: 50px 80px;
    display: flex;
    box-shadow: 0px -8px 10px 0px white;
}

.about-right-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 50px 100px 0px 0px;
}

.about-left-content{
    width: 50%;
    margin: 60px 100px 20px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}

.about-right-images img{
    width: 400px;
    height: 400px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.about-right-images img:hover{
    cursor: pointer;
    transition: 0.4s ease;
    transform: scale(1.03);
    box-shadow: 1px 1px 10px 10px rgb(78, 81, 80);
}

.projects-section{
    width: 100%;
    height: fit-content;
    background-color: aliceblue;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects, .project2{
    display: flex;}

.projects-left-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 50px;}

.projects-left-images img{
    width: 400px;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid black;}

.projects-left-images img:hover{
    cursor: pointer;
    transition: 0.4s ease;
    transform: scale(1.03);
    box-shadow: 1px 1px 10px 10px rgb(78, 81, 80);
}

.project-cansat{
    display: flex;
    align-items: center;
    width: 50%;
    margin: 50px;
}

.project-cansat img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 10px;
    border: 1px solid black;
}

.project-cansat{
    flex-direction: column;
    align-items: center;
}

.project-cansat img:hover{
    cursor: pointer;
    transition: 0.4s ease;
    transform: scale(1.03);
    box-shadow: 1px 1px 10px 10px rgb(78, 81, 80);
}

.projects-right-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    margin: 0px 100px 50px 0px;
}

.projects-right-content a:hover{
        color: purple;
}

.projects-right-content h2{
    text-align: center;
    margin: 20px;
    text-decoration: underline;
}

.departments-included{
    width: 100%;
    height: fit-content;
}

.departments{
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
}



.department-content h2{
    text-decoration: underline;
}

.department-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.department-img img{
    width: 300px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px 10px gray;
    
}

.department-content{
    width: 50%;
    padding: 50px 100px 0px 0px;
    margin: 0px 100px 0px 0px;
    align-items: center;
    justify-content: center;
}

.department-content p{
    font-size: 1.4rem;
}

.sec-left{
    flex-direction: row-reverse;
    margin-left: 100px;
}

.Team-members{
    width: 100%;
    height: fit-content;
    background-color: rgba(17, 18, 17, 0.947);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
}

.members-details{
    height: 500px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    /* border: 2px solid black; */
    border-radius: 30px;
    overflow: hidden;
}

.members-img{
    width: 100%;
    height: 75%;
    overflow: hidden;
}

.name{
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    height: 12%;
    margin-top: 5px;
}


.members-img img{
    transition: all ease-in-out 0.5s;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border-radius: 30px 30px 0px 0px;
}

.members-img img:hover{
    scale: 1.07;
}

.members-links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 13%;
    background-color: rgba(160, 197, 230, 0.544);
    border-radius: 0px 0px 30px 30px;
    padding-top: 3px;
}

.members-links img:hover{
    cursor: pointer;
    box-shadow: 1px 1px 6px 6px rgba(115, 113, 113, 0.472);
    transform: scale(1.08);
    border-radius: 50%;
}

.club-head{
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.club-head-container{
    align-items: center;
}

.head-container{
    width: fit-content;
    height: fit-content;
    background-color: inherit;
    padding: 20px;
}

.head-container img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px 10px gray;
    margin: 20px;
}

.club-head-sec{
    display: flex;
    align-items: center;
    justify-content: center;
}

.details{
    background-color: rgba(170, 208, 241, 0.625);
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
}

.details p{
    font-size: 1.2rem;
    text-align: center;
}

.contact-section{
    width: 100%;
    height: fit-content;
    padding: 20px;
    background-color: rgba(207, 206, 205, 0.374);
    display: flex;
}

.contact-main form{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    padding: 20px 200px;
    background-color: rgba(131, 134, 136, 0.43);
    margin: 5px 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px gray;
    width: 50px;
}

form label{
    font-size: 1.4rem;
}

form input, textarea{
    padding: 5px;
    font-size: 1.2rem;
    margin: 8px 0px;
}

.required{
    color:red;
}


.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    font-size: 1.3rem;
    padding: 7px 9px;
    background-color: rgba(112, 140, 222, 0.739);
    border-radius: 10px;
    border: none;
    color: white;
}

button:hover{
    background-color: rgba(17, 114, 234, 0.899);
}

button:active{
    box-shadow: 2px 2px 10px #e5ec22;
}

.footer-top{
    text-align: center;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

.address{
    padding: 50px 200px 0px 200px;
}

.address-location{
    width: 50%;
}

.location p{
    width: 80%;
    display: flex;
    margin: 5px 0px 20px 0px;
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;

}

.address a{
    font-size: 1.4rem;
    font-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;

}

.address a:hover{
    color: blue;
}

.links-flex, .members-social-media-links{
    display: flex;
}


.link-logos{
    height: 40px;
    width: 40px;
    background-color: white;
    margin: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.cansat-links img, .members-social-media-links img{
    height: 30px;
    width: 30px;
}

.cansat-links{
    position: relative;
    bottom: 0px;
}

.cansat-links h2{
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

 .link-logos:hover{
    transform: scale(1.1);
}

.footer{
    height: 50px;
    width: 100%;
    background-color: white;
    box-shadow: 0px -6px 6px 0px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
}

.logo-footer{
    position: relative;
    top: 200px;
    right: 70px;
    height: fit-content;
    box-shadow: 2px 2px 4px 4px rgb(197, 168, 49);
    padding: 7px;

}

.burger{
    display: none;
    position: absolute;
    left: 15%;
    top: 10px;
}

.line{
    width: 28px;
    height: 3px;
    background-color: rgb(249, 8, 44);
    margin: 5px;
    cursor: pointer;
}



